<div class="row">
  <div class="col-lg-12">
    <h2>Тестовое задание на вакансию Ruby on Rails разработчик в компанию MetaStudio</h2>
    <h3>Задание</h3>
    <p>
      Разработать простую новостную систему. Реализовать добавление, просмотр, редактирование и удаление новостей. Реализовать систему авторизации (без регистрации, авторизация по email/password, возможность выйти из системы). Реализовать систему рейтинга новостей, AJAX-голосование за новости.
    </p>
  </div>
</div>