<div class="row">
  <div class="col-lg-12 article">
    <h2>New article</h2>
    <%= render 'form' %>
    <hr />
    <div class="actions">
      <%= link_to 'Back', articles_path %>
    </div>
  </div>
</div>